<launch>

  <param
    name="goal_speed"
    type="int"
    value="80"
    />

  <node
    name="hokuyo_scan"
    pkg="urg_node"
    type="urg_node"
    output="screen"
    >
    <param
      name="ip_address"
      value="192.168.0.10"
    />
  </node>

  <node
  	name="dynamixel_spin"
  	pkg="hokuyo_3d"
  	type="dynamixel_spin"
  	required="true"
  	output="screen"
  />

  <node
  	name="laser_transform_broadcaster"
  	pkg="hokuyo_3d"
  	type="laser_transform_broadcaster"
  	required="true"
  	output="screen"
  />

  <node
  	name="laserscan_ugv_filter"
  	pkg="hokuyo_3d"
  	type="laserscan_ugv_filter"
  	required="true"
  	output="screen"
  />

  <node
  	name="pointcloud_assembler_client"
  	pkg="hokuyo_3d"
  	type="pointcloud_assembler_client"
  	required="true"
  	output="screen"
  />

</launch>
