<launch>

  <node
    name="hokuyo_scan"
    pkg="urg_node"
    type="urg_node"
    output="screen"
    >
    <param
      name="ip_address"
      value="192.168.0.10"
    />
  </node>

  <node
  	name="laserscan_ugv_filter"
  	pkg="hokuyo_3d"
  	type="laserscan_ugv_filter"
  	required="true"
  	output="screen"
    >
    <param
      name="filter_threshold"
      value="1.3"
    />
  </node>

</launch>
